p {
  border: solid 1px #ddd;
  padding: 10px;
}
p span.shape {
  width: 100px;
  height: 100px;
  float: left;
  padding: 30px;
  border: solid 20px red;
  margin: 10px;
  /*围绕着边框*/
  /*文本在内边距的边框里*/
  /*文本在内容盒子里*/
  /*文本在外边距那块*/
  shape-outside: margin-box;
}
p::after {
  content: "";
  display: block;
  clear: both;
}
